@model System.Web.Mvc.AuthorizationContext

@{
    ViewBag.Title = "Not Authorized";
}


<div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col-lg-8 border p-5 text-center white-two">
            <i class="fa fa-exclamation-triangle triangleError"></i>
            <h3 class="mb-4">Not Authorized</h3>
            <h5>User is Not Authorized to Access this Page</h5>
        </div>
    </div>
</div>


