<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=10.200.50.11\Stage;Initial Catalog=Geraci;Persist Security Info=True;User ID=geraciAdmin;Password=Test_1234" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="NewsService" value="http://geraciservice.stage.synoptek.com/NewsService/NewsService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UserRegistrationService" value="http://geraciservice.stage.synoptek.com/UserRegistrationService/UserRegistrationService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LoginService" value="http://geraciservice.stage.synoptek.com/LoginService/LoginService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ListingService" value="http://geraciservice.stage.synoptek.com/ListingService/ListingService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/> 
    <add key="InvestorListing" value="http://geraciservice.stage.synoptek.com/InvestorListingsService/InvestorListingsService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HomePageService" value="http://geraciservice.stage.synoptek.com/HomePageService/HomePageService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailNotificationService" value="http://geraciservice.stage.synoptek.com/EmailNotificationService/EmailNotificationService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BrokerListingService" value="http://geraciservice.stage.synoptek.com/BrokerListingService/BrokerListingService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WebinarService" value="http://geraciservice.stage.synoptek.com/WebinarServices/WebinarService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ArticleService" value="http://geraciservice.stage.synoptek.com/ArticleService/ArticlesService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ResourceService" value="http://geraciservice.stage.synoptek.com/ResourceService/ResourceService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TestimonialService" value="http://geraciservice.stage.synoptek.com/TestimonialService/TestimonialService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LearnService" value="http://geraciservice.stage.synoptek.com/LearnService/LearnService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Dashboard" value="http://geraciservice.stage.synoptek.com/DashboardService/DashboardService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>