<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <!--<appSettings>
    <add key="ErrorLogPath" value="C:\Temp\SynoptekErrorLog\" />
  </appSettings>-->
  
  <system.serviceModel>
    <services>
      <service name="NewsS34" behaviorConfiguration="SynoptekServices.NewsService.NewsService">
        <endpoint address="" binding="basicHttpBinding" bindingName="GetNews" contract="NewsServiceReference.INewsService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="ArticleS34" behaviorConfiguration="SynoptekServices.ArticleService.ArticleService">
        <endpoint address="" binding="basicHttpBinding" bindingName="ArticlesCategory" contract="ArticlesServiceReference.IArticlesService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SynoptekServices.NewsService.NewsService">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        <behavior name="SynoptekServices.ArticleService.ArticleService">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserRegistrationService" />
        <binding name="BasicHttpBinding_IEmailNotificationService" />
        <binding name="BasicHttpBinding_ILoginService" />
        <binding name="BasicHttpBinding_IHomePageService" />
        <binding name="BasicHttpBinding_INewsService" />
        <binding name="BasicHttpBinding_ITestimonialService" />
        <binding name="BasicHttpBinding_IBrokerListingService" />
        <binding name="BasicHttpBinding_IInvestorListingsService" />
        <binding name="BasicHttpBinding_ILearnService" />
        <binding name="BasicHttpBinding_IDashboardService" />
        <binding name="BasicHttpBinding_IListingService" />
        <binding name="BasicHttpBinding_IDashboardService1" />
        <binding name="BasicHttpBinding_ILearnService1" />
        <binding name="BasicHttpBinding_ISubscriptionService" />
        <binding name="BasicHttpsBinding_ITestimonialService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IBrokerListingService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IDashboardService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IEmailNotificationService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IHomePageService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IInvestorListingsService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_ILearnService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IListingService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_ILoginService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_ISubscriptionService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_ITestimonialService1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IUserRegistrationService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.200.97.239:8000/LearnService/LearnService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILearnService"
        contract="LearnServiceReference.ILearnService" name="BasicHttpBinding_ILearnService" />
      <endpoint address="http://10.200.97.239:8000/DashboardService/DashboardService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDashboardService"
        contract="DashboardServiceReference.IDashboardService" name="BasicHttpBinding_IDashboardService" />
      <endpoint address="https://geraciwcfservices.azurewebsites.net/TestimonialService/TestimonialService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITestimonialService"
        contract="TestimonialServiceReference.ITestimonialService" name="BasicHttpsBinding_ITestimonialService" />
      <endpoint address="http://geraciwcfservices.azurewebsites.net/BrokerListingService/BrokerListingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBrokerListingService"
        contract="BrokerListingServiceReference.IBrokerListingService"
        name="BasicHttpBinding_IBrokerListingService" />
      <endpoint address="https://geraciwcfservices.azurewebsites.net/BrokerListingService/BrokerListingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IBrokerListingService"
        contract="BrokerListingServiceReference.IBrokerListingService"
        name="BasicHttpsBinding_IBrokerListingService" />
      <endpoint address="http://geraciwcfservices.azurewebsites.net/DashboardService/DashboardService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDashboardService1"
        contract="DashboardServiceReference.IDashboardService" name="BasicHttpBinding_IDashboardService1" />
      <endpoint address="https://geraciwcfservices.azurewebsites.net/DashboardService/DashboardService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IDashboardService"
        contract="DashboardServiceReference.IDashboardService" name="BasicHttpsBinding_IDashboardService" />
      <endpoint address="http://geraciwcfservices.azurewebsites.net/EmailNotificationService/EmailNotificationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailNotificationService"
        contract="EmailNotificationServiceReference.IEmailNotificationService"
        name="BasicHttpBinding_IEmailNotificationService" />
      <endpoint address="https://geraciwcfservices.azurewebsites.net/EmailNotificationService/EmailNotificationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IEmailNotificationService"
        contract="EmailNotificationServiceReference.IEmailNotificationService"
        name="BasicHttpsBinding_IEmailNotificationService" />
      <endpoint address="http://geraciwcfservices.azurewebsites.net/HomePageService/HomePageService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHomePageService"
        contract="HomePageServiceReference.IHomePageService" name="BasicHttpBinding_IHomePageService" />
      <endpoint address="https://geraciwcfservices.azurewebsites.net/HomePageService/HomePageService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IHomePageService"
        contract="HomePageServiceReference.IHomePageService" name="BasicHttpsBinding_IHomePageService" />
      <endpoint address="http://geraciwcfservices.azurewebsites.net/InvestorListingsService/InvestorListingsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvestorListingsService"
        contract="InvestorListingsServiceReference.IInvestorListingsService"
        name="BasicHttpBinding_IInvestorListingsService" />
      <endpoint address="https://geraciwcfservices.azurewebsites.net/InvestorListingsService/InvestorListingsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IInvestorListingsService"
        contract="InvestorListingsServiceReference.IInvestorListingsService"
        name="BasicHttpsBinding_IInvestorListingsService" />
      <endpoint address="http://geraciwcfservices.azurewebsites.net/LearnService/LearnService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILearnService1"
        contract="LearnServiceReference.ILearnService" name="BasicHttpBinding_ILearnService1" />
      <endpoint address="https://geraciwcfservices.azurewebsites.net/LearnService/LearnService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILearnService"
        contract="LearnServiceReference.ILearnService" name="BasicHttpsBinding_ILearnService" />
      <endpoint address="http://geraciwcfservices.azurewebsites.net/ListingService/ListingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListingService"
        contract="ListingServiceReference.IListingService" name="BasicHttpBinding_IListingService" />
      <endpoint address="https://geraciwcfservices.azurewebsites.net/ListingService/ListingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IListingService"
        contract="ListingServiceReference.IListingService" name="BasicHttpsBinding_IListingService" />
      <endpoint address="http://geraciwcfservices.azurewebsites.net/LoginService/LoginService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginService"
        contract="LoginServiceReference.ILoginService" name="BasicHttpBinding_ILoginService" />
      <endpoint address="https://geraciwcfservices.azurewebsites.net/LoginService/LoginService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILoginService"
        contract="LoginServiceReference.ILoginService" name="BasicHttpsBinding_ILoginService" />
      <endpoint address="http://geraciwcfservices.azurewebsites.net/SubscriptionService/SubscriptionService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubscriptionService"
        contract="SubscriptionServiceReference.ISubscriptionService"
        name="BasicHttpBinding_ISubscriptionService" />
      <endpoint address="https://geraciwcfservices.azurewebsites.net/SubscriptionService/SubscriptionService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ISubscriptionService"
        contract="SubscriptionServiceReference.ISubscriptionService"
        name="BasicHttpsBinding_ISubscriptionService" />
      <endpoint address="http://geraciwcfservices.azurewebsites.net/TestimonialService/TestimonialService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestimonialService"
        contract="TestimonialServiceReference.ITestimonialService" name="BasicHttpBinding_ITestimonialService" />
      <endpoint address="https://geraciwcfservices.azurewebsites.net/TestimonialService/TestimonialService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITestimonialService1"
        contract="TestimonialServiceReference.ITestimonialService" name="BasicHttpsBinding_ITestimonialService1" />
      <endpoint address="http://geraciwcfservices.azurewebsites.net/UserRegistrationService/UserRegistrationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserRegistrationService"
        contract="UserRegistrationServiceReference.IUserRegistrationService"
        name="BasicHttpBinding_IUserRegistrationService" />
      <endpoint address="https://geraciwcfservices.azurewebsites.net/UserRegistrationService/UserRegistrationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IUserRegistrationService"
        contract="UserRegistrationServiceReference.IUserRegistrationService"
        name="BasicHttpsBinding_IUserRegistrationService" />
    </client>
  </system.serviceModel>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.2.5.0" newVersion="5.2.5.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>