
<div class="modal-body text-center">
    <form>
        <h5 class="mb-5 mt-5" style="font-size: initial; color:aliceblue;">
            "Use of our community is free but requires registration" <br /><br />
            You will be taken to sign in or register in a few seconds. Don't worry - you're about a minute away from accessing amazing content.
        </h5>

        <a href="#" class="pop">
            <img src="~/Images/Discourse.jpg" style="width:80%;">
        </a>
    </form>
</div>




